.header {
    grid-area: header;
    background-image: url('https://d2r9epyceweg5n.cloudfront.net/stores/001/149/571/products/4b8daeae-1a1f-498c-819f-6b0f92cc95b0-fb2ff40860f14e42c316571375241463-1024-1024.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}