.navbar {
    transition: all .5s ease-in-out;

    .container-fluid {
        .offcanvas {
            --bs-offcanvas-width: 250px;

            .offcanvas-header {
                justify-content: flex-end;
            }

            .offcanvas-body {
                .navbar-nav {
                    align-items: center;
                }
            }
        }

        margin: 1rem 0;
        padding: 0 1.5rem;

        .navbar-collapse {

            justify-content: space-between;

            img {
                width: 65px;
                height: 65px;
                transition: .7s;
                cursor: pointer;

                &:hover {
                    transform: scale(1.1);
                }
            }

            .nav-link {


                font-family: 'Open Sans', sans-serif;
                color: #EFF3F2;
                text-decoration: none;
                font-size: 1.1rem;
                margin: 0 6px;
                padding-top: 10px;
                position: relative;
                z-index: 0;
                cursor: pointer;

                &:before,
                &:after {
                    position: absolute;
                    left: 0px;
                    width: 100%;
                    height: 2px;
                    background: #BF6D69;
                    content: "";
                    opacity: 0;
                    transition: all 0.3s;
                }

                &:before {
                    top: 0px;
                    transform: translateY(10px);
                }

                &:after {
                    bottom: 0px;
                    transform: translateY(-10px);
                }

                &:hover:before,
                &:hover:after {
                    opacity: 1;
                    transform: translateY(0px);
                }

                .fa-shopping-bag {
                    font-size: 1.3rem;

                    &:after {
                        content: attr(data-after);
                        font-size: 14px;
                        font-family: 'Open Sans', sans-serif;
                        color: #fff;
                        background: #BF6D69;
                        border-radius: 50%;
                        padding: 0 5px;
                        position: relative;
                        left: -3px;
                        top: -10px;
                    }
                }
            }

            .cmActive {

                &:before,
                &:after {
                    opacity: 1;
                    transform: translateY(0px);
                }
            }

            .nav-bag {
                background: none;
            }

        }
    }

}

.sticky {
    width: 100%;
    background-color: #BF6D69;
    position: fixed;
    transition: all .5s ease-in-out;
}