.botones {
    color: white !important;
    text-align: center;
    padding: .5rem;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1rem;
    background-color: #0E0D0B;
    cursor: pointer;

    &:hover {
        background-color: lighten($color: #0E0D0B, $amount: 20);
        transition: all .5s ease-in;
    }
}

.comprar {
    background: none;
    font-style: italic;
    font-size: 1.2rem;

    &:hover {
        background-color: lighten($color: #98ab42, $amount: 10);
        text-decoration: none;
        // transition: all .5s ease-in;
    }
}

.seguirComprando {
    background-color: #BF6D69;

    &:hover {
        background-color: lighten($color: #BF6D69, $amount: 10);
        // transition: all .5s ease-in;
    }
}